body {
    font-family: Helvetica, Arial, sans-serif;;
}

p {
    font-size: 15px;
}

button {
    cursor: pointer;
    padding: 16px 40px;
    border: none;
    background-color: #151e1d;
    color: #F0F8FF;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    width: 90vw;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.button-container {
    display: block;
    margin-bottom: 30px;
}

.header-container,
.ingredients-container,
.instructions-container {
    padding: 20px 60px;
    margin-bottom: 30px;
}

.header-container,
.instructions-container {
    background-color: #F0F8FF;
}

.description-container {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}

.description-container div {
    width: 600px;
}

.ingredients-container {
    min-width: 300px;
}

.ingredients-container {
    border: 2px solid #72A0C1;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.title {
    margin: 40px 0;
}

h1 {
    text-align: left;
    font-size: 24px;
}

.recipe-card {
    display: block;
    width: 300px;
    height: auto;
    background-color: #F0F8FF;
    padding-bottom: 16px;
    border: 2px solid #151e1d;
    border-radius: 10px;
}

.recipe-card-title {
    display: block;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.featured-image {
    width: 40%;
    height: auto;
}

.preview-image{
    width: 300px;
    height: auto;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}